* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: sans-serif;
}

.container {
  max-width: 800px;
  margin: 0 auto;
}

.row {
  display: flex;
}

.column-full {
  flex-basis: 100%;
}

.col-one-third {
  flex-basis: calc(100% / 3);
}

.image {
  width: 100%;
}

.col-forth {
  flex-basis: 25%;
}

.col-half {
  flex-basis: 50%;
}

.image2 {
  width: 100%;
}
