.container {
  max-width: 800px;
  margin: auto;
  min-height: 100vh;
}

h1 {
  display: flex;
}

.row {
  display: flex;
  align-items: center;
  flex-basis: calc(100% / 3);
}

.row2 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-basis: calc(100% / 4);
}

.row3 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-basis: calc(100% / 2);
}

.row4 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-basis: calc(100% / 2);
}
