button.language {
  font-size: 24px;
  background-color: lightgray;
  margin-top: 12px;
  margin-bottom: 12px;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 6px;
  padding-bottom: 6px;
  border-radius: 6px;
}

/* Left and right margin of 12px
Left and right padding of 16px
Top and bottom padding of 6px
Border radius of 6px */
